.main {
  background-color: #222222;
  width: 100vw;
  height: 130vhvh;
  display: flex;
  font-family: "Gotham-Thin", Courier, monospace;
}

.main__content {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  /* padding: 27px 0 0 39px; */
}

.main__title {
  width: 459px;
  height: 33px;
  font-size: 26px;
  line-height: 1.2;
  padding: 27px 0 46px 39px;
  margin: 0;
  font-family: "Gotham-Bold", Courier, monospace;
}

.main__info {
  display: flex;
  flex-direction: column;
  margin-left: 28px;
}
