.sidebar {
  background-color: black;
  flex: 0 0 290px;
  height: 935px;
}
.sidebar__title {
  font-family: "Gotham-Bold", Courier, monospace;
}

.sidebar__title-top {
  display: flex;
  flex-direction: row;
  padding-left: 32px;
}

.sidebar__option {
  font-family: "Gotham-Thin", Courier, monospace;
  font-size: 30px;
}
.sidebar__home {
  display: flex;
  flex-direction: row;
  padding-left: 32px;
}

.sidebar__homeimage {
  padding-right: 20px;
}

.sidebar__chart {
  display: flex;
  flex-direction: row;
  padding-left: 32px;
}

.sidebar__chartimage {
  padding-right: 20px;
}
